Source: libfilesystem-chipkit
Section: libraries
Priority: extra
XBSC-Group: Storage
XBSC-Subgroup: SD and MMC
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libfilesystem-chipkit
Architecture: all
Provides: FileSystem.h
Depends: chipkit
Description: FileSystem library for chipkit

